<% provide(:title, 'All parties') %>
<h1>All parties</h1>

<%= will_paginate %>
<table class="table">
  <tr class="parties">
  <th>Name</th>
  <th>Size</th>
  <th>Status</th>
  <th>Phone</th>
  <th>Created Time</th>
  <th>Restaurant</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
  <%= render @parties %>
</table>

<%= will_paginate %>


<%= link_to 'Add Party', new_party_path %>